<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="cobaan.css" rel="stylesheet"></link>
</head>
<body>
    <div id="app">
        <center>
            <h1>Toko Si Gjar</h1>
        </center>
        <div class="input">
            <div class="nota">
                <label>Pelanggan :</label>
                <input type="text" v-model:value="pelanggan" required></input>
                <label>Tanggal :</label>
                <input type="date" v-model="tanggal" required></input>
                <label>Total Pembayaran :</label>
                <input type="number" v-model="pembayaran" required></input>
            </div>
            <div class="barang">
                <label>
                    Pilih Produk :
                    <select v-model="selectedItem">
                        <option v-for="(item,index) in barang" :value="item" :key="index">{{item.nama}}</option>
                    </select>
                </label>
                <label>
                    Harga : <input type="number" :value="selectedItem.harga"  readonly>
                </label>
                <label>
                    Kuantitas : <input type="number" v-model.value="selectedItem.qty" @input="maxMinQty(selectedItem)" min="1" :max="selectedItem.maxQty">
                </label>
            </div>
            <button width="100%" @click="masukCart(selectedItem)">Masukkan</button>
        </div>
        <table width="100%" border="1">
            <thead>
                <th>ID Barang</th>
                <th>Nama Barang</th>
                <th>Harga Satuan</th>
                <th>Kuantitas</th>
                <th>Jumlah</th>
                <th>Opsi</th>
            </thead>
            <tr v-for="(item,index) in cart" :key="index">
                <td>{{item.kode}}</td>
                <td>{{item.nama}}</td>
                <td>{{item.harga}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.qty * item.harga}}</td>
                <td><button @click="kurangCart">Hapus</button></td>
            </tr>
        </table>
        <div class="totalan">
            <div class="diskon">
                <label>Subtotal Belanja : </label>
                <input type="text" :value="total" readonly></input>
                <label>Diskon : </label>
                <input type="text" :value="setDiskon" readonly></input>
                <label>Total Belanja : </label>
                <input type="text" :value="afterDiskon" readonly></input>
                <button><a @click="kirim">Kirim</a></button>
                <button @click="deleteLS">Hapus LS</a></button>
            </div>
        </div>
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            pelanggan: "",
            tanggal: "",
            barang : [
                {
                    kode : 'A1',
                    nama : 'Barang1',
                    harga : 50000,
                    qty : 0,
                    maxQty : 10
                },
                {
                    kode : 'A2',
                    nama : 'Barang2',
                    harga : 75000,
                    qty : 0,
                    maxQty : 10
                },
                {
                    kode : 'A3',
                    nama : 'Barang Bagus',
                    harga : 1000000,
                    qty : 0,
                    maxQty : 10
                },
            ],
            pembayaran: 300000,
            cart :[],
            selectedItem: [],
            diskon: 0,
            subTotal: 0,
            totalSetelah : 0
        },
        methods: {
            masukCart: function(index){
                this.cart.push(index);
            },
            kurangCart : function(index){
                this.cart.splice(index,1);
            },
            kirim:function(){
                if(this.pembayaran >= this.totalSetelah){
                    console.log('berhasil');
                    localStorage.setItem('produk', JSON.stringify(this.cart));
                    localStorage.setItem('diskon', this.diskon)
                    localStorage.setItem('pembayaran', this.pembayaran)
                    localStorage.setItem('pelanggan', this.pelanggan)
                    localStorage.setItem('tanggal', this.tanggal)
                    window.location.href = 'total.html'
                }else{
                    alert(`Pembayaran hanya : ${this.pembayaran}\nHarus lebih besar dari total belanja : ${this.totalSetelah}`)
                }
            },
            deleteLS: function(){
                localStorage.clear();
            },
            maxMinQty: function(index){
                if(index.qty < 0){
                    return index.qty = 0
                }else if(index.qty >index.maxQty){
                    return index.qty = index.maxQty
                }
            }
        },
        computed:{
            afterDiskon(){
                this.totalSetelah = this.subTotal- (this.diskon * this.subTotal);
                return this.totalSetelah;
            },
            total : function(){
                this.subTotal =this.cart.reduce((total, item)=> total + item.qty * item.harga,0)
                return this.subTotal;
            },
            setDiskon: function(){
                switch(this.cart.length){
                    case 0:
                        this.diskon = 0;
                        return 0;
                    case 1:
                        this.diskon = 0;
                        return 0;
                    case 2:
                        this.diskon = 0.1;
                        return 10;
                    case 3:
                        this.diskon = 0.2;
                        return 20;
                    default:
                        this.diskon = 0.45;
                        return 45;
                }
            },
            formatValue(index) {
                return index.toLocaleString('id-ID'); // Menggunakan locale 'id-ID' untuk format Indonesia
            }

        },
        watch:{
            
        }
    })
</script>
</html>